<h1>Stories</h1>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <ul>
            <% stories.forEach(function(story){ %>
                <li>
                    <button class="mdl-button mdl-js-button mdl-button--primary"
                            onclick="getStory('<%= story.id %>').then(story => setScopeStoryEdition(story));"><%= story.name %></button>
                </li>
            <% }); %>
            <li>
                <button onclick="createStory()" class="mdl-button mdl-js-button mdl-button--fab">
                    <i class="material-icons">add</i>
                </button>
            </li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <button id="btnSave" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">SAVE</button>
        <div id="jsoneditor" style="width: 100%; height: 400px;"></div>
    </div>
</div>

<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>


<script>
        // create the editor
        var container = document.getElementById("jsoneditor");
        var options = {};
        var editor = new JSONEditor(container, options);
        editor.set({});

        function getStory(storyId) {
            // call the story
            var myHeaders = new Headers();

            var myInit = {
                method: 'GET',
                headers: myHeaders,
                //mode: 'cors',
                cache: 'default'
            };

            return fetch('/rest/stories/' + storyId, myInit).then((resp) => resp.json()) // Transform the data into json
        }

        function setScopeStoryEdition(story) {
            // set json
            editor.update(story);

            // set the callback when the stories are edited
            document.getElementById("btnSave").addEventListener("click", function () {

                var myInit = {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    //mode: 'cors',
                    body: JSON.stringify(editor.get())
                };

                fetch('/rest/stories/' + story.id, myInit)
                    //.then((resp) => resp.json()) // Transform the data into json
                    .then(function (datas) {
                        document.querySelector('#demo-snackbar-example').MaterialSnackbar.showSnackbar(
                            {
                                message: 'Histoire sauvegardée ! :)',
                                timeout: 2000,
                                actionHandler: event => {},
                                actionText: 'Fermer'
                            }
                        );
                    });
            });
        }

        function createStory() {
            var storyName = prompt("Saisir le nom de l'histoire :");
            if (storyName != null && storyName.length >= 1) {

                var myInit = {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    //mode: 'cors',
                    body: '{"name":"' + storyName + '"}'
                };

                fetch('/rest/stories', myInit)
                    .then((resp) => resp.json()) // Transform the data into json
                    .then(function (story) {
                        editor.update(story);
                    });

            }
        }

</script>


<%- contentFor('title') %>
Stories !
