module.exports =
{   "port" : *****,
    "login" : "*****",
    "password" : "*****"/*,
    "sessionConfig" : {
        "secret": 'keyboard cat',
        "resave": false,
        "saveUninitialized": true,
        "cookie": { "secure": true }
    }*/
}