
module.exports =
{
    "discordToken" : "*******",
    "discordChannelID" : "**********", // id du salon ou sera diffuse le contenu
    //"discordChannelID" : "***************", // Prod     
    "discordPrefix" : "*************",
    "apiPort" : ********,
    "apiOriginAllowed" : "*************"
    /*"sessionConfig" : {
        "secret": '************',
        "resave": false,
        "saveUninitialized": true,
        "cookie": { "secure": true }
    }*/
}
