<!doctype html>
<html lang="en">
<head>
    <%- include('layout/head', {}); %>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <div class="mdl-layout mdl-js-layout">
        <%- include('layout/nav', {}); %>
        <main class="mdl-layout__content" style="margin-top: 50px;">
            <div class="page-content">
                <%- body %>
            </div>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
